body {
  background: url(/images/bg.jpg); }

#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }
  #container #header, #container #main, #container #footer {
    display: inline;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 960px; }
  #container #header {
    margin: 0;
    padding: 0;
    color: #555544; }
    #container #header .title {
      padding: 0;
      margin: 0;
      font-size: 4em; }
      #container #header .title a {
        color: inherit;
        text-decoration: inherit;
        cursor: inherit; }
  #container #main {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-box-shadow: 0 0 10px #666666;
    -webkit-box-shadow: 0 0 10px #666666;
    box-shadow: 0 0 10px #666666;
    background: #222211;
    color: #222211; }
    #container #main #content {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 700px; }
      #container #main #content .paginate {
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        overflow: hidden;
        display: inline-block;
        background: white;
        padding: 5px;
        font-size: 1.2em;
        margin: 0 0 10px 0; }
        #container #main #content .paginate {
          display: block; }
        #container #main #content .paginate a {
          color: inherit;
          text-decoration: inherit;
          cursor: inherit; }
        #container #main #content .paginate .previous {
          float: left;
          margin-left: 275px; }
        #container #main #content .paginate .next {
          float: right;
          margin-right: 275px; }
        #container #main #content .paginate .disable {
          color: #888; }
      #container #main #content .article {
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        background: white;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 20px 20px 10px 20px; }
        #container #main #content .article .twitter {
          float: right; }
        #container #main #content .article .heading {
          margin-bottom: 30px; }
          #container #main #content .article .heading a {
            color: inherit;
            text-decoration: inherit;
            cursor: inherit; }
          #container #main #content .article .heading .title {
            margin: 0; }
          #container #main #content .article .heading .date {
            color: #555544;
            font-size: 0.9em;
            margin: 0; }
        #container #main #content .article .body, #container #main #content .article .summary {
          border-bottom: 1px solid #555544; }
          #container #main #content .article .body p + p, #container #main #content .article .summary p + p {
            text-indent: 1em; }
          #container #main #content .article .body .reddit, #container #main #content .article .summary .reddit {
            margin-bottom: 5px; }
        #container #main #content .article .permalink {
          overflow: hidden;
          display: inline-block;
          margin-top: 5px; }
          #container #main #content .article .permalink {
            display: block; }
          #container #main #content .article .permalink a {
            color: inherit;
            text-decoration: inherit;
            cursor: inherit; }
          #container #main #content .article .permalink .comment {
            float: left; }
          #container #main #content .article .permalink .read {
            float: right; }
    #container #main #sidebar {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 220px; }
      #container #main #sidebar .panel {
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        background: white;
        margin: 10px 0 10px 0;
        padding: 10px; }
        #container #main #sidebar .panel h3 {
          margin: 0; }
        #container #main #sidebar .panel p {
          font-size: 0.9em; }
        #container #main #sidebar .panel p + p {
          text-indent: 0.75em; }
        #container #main #sidebar .panel p.signature {
          text-indent: 0; }
        #container #main #sidebar .panel ul.social {
          list-style: none;
          margin: 0;
          padding-left: 20px; }
          #container #main #sidebar .panel ul.social li {
            margin: 5px 0 3px 0; }
          #container #main #sidebar .panel ul.social a {
            color: inherit;
            text-decoration: inherit;
            cursor: inherit;
            text-align: center;
            padding-left: 25px; }
          #container #main #sidebar .panel ul.social .github a {
            background: url(http://github.com/favicon.png) no-repeat; }
          #container #main #sidebar .panel ul.social .twitter a {
            background: url(/images/twitter.png) no-repeat; }
          #container #main #sidebar .panel ul.social .facebook a {
            background: url(/images/facebook.png) no-repeat; }
          #container #main #sidebar .panel ul.social .tumblr a {
            background: url(/images/tumblr.gif) no-repeat; }
          #container #main #sidebar .panel ul.social .posterous a {
            background: url(/images/posterous.png) no-repeat; }
          #container #main #sidebar .panel ul.social .vimeo a {
            background: url(/images/vimeo.png) no-repeat; }
          #container #main #sidebar .panel ul.social .lastfm a {
            background: url(/images/lastfm.png) no-repeat; }
  #container #footer {
    color: #555544; }
