---
extension: html
filter: haml
---
!!!

%html
  %head
    %title= @page.title
    %meta{:name => 'author', :content => @page.author}

    %link{:rel => 'stylesheet', :href => '/css/coderay.css', :type =>'text/css'}
    %link{:rel => 'stylesheet', :href => '/css/site.css', :type =>'text/css', :media => 'screen, projection'}

    %link{:rel => 'alternate', :title => 'Atom Feed for crackersnack.com', :href => '/feed/atom.xml', :type =>'application/atom+xml'}
    
    :javascript
      disqus_developer = false;
  %body
    #container
      %a{:href => 'http://github.com/hexorx'}
        %img{:style => 'position: absolute; top: 0; right: 0; border: 0;', :src => 'http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png', :alt => 'Fork me on GitHub'}
      #header
        %h1.title
          %a{:href => '/'} CrackerSnack
      #main
        #sidebar
          .feed-button
            %a{:href => '/feed/atom.xml'} Subscribe
          
          ~ content_for :sidebar
          .panel
            %h3 Welcome
            %p Over the years the internet has given a lot to me. I have learned much from the internets and have had many lolz along the way.
            %p This is my attempt to give back and pass on some of what I have learned. Topics will range from Ruby to rants and include every geeky thing that pops into my head. Although my head can be a scary place I will try to keep things civil. :)
            %p.signature &#8212 hexorx (Josh Robinson)
          .panel
            %h3 I'm Social
            %ul.social
              %li.github
                %a{:href => 'http://github.com/hexorx'} github
              %li.twitter
                %a{:href => 'http://www.twitter.com/JoshRobinson'} Twitter
              %li.facebook
                %a{:href => 'http://www.facebook.com/hexorx'} Facebook
              %li.vimeo
                %a{:href => 'http://www.vimeo.com/hexorx'} Vimeo
              %li.tumblr
                %a{:href => 'http://crackersnack.tumblr.com'} Tumblr
              %li.posterous
                %a{:href => 'http://crackersnack.posterous.com'} Posterous
              %li.lastfm
                %a{:href => 'http://www.last.fm/user/hexorx'} Last.fm
        #content
          ~ @content
          ~ content_for :pagination



      #footer
        %p This website was created with <a href="http://webby.rubyforge.org">Webby</a>
        
  :javascript
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

  :javascript
    try {
      var pageTracker = _gat._getTracker("UA-13158751-1");
      pageTracker._trackPageview();
    } catch(err) {}
    
  :javascript
    (function() {
    	var links = document.getElementsByTagName('a');
    	var query = '?';
    	for(var i = 0; i < links.length; i++) {
    	if(links[i].href.indexOf('#disqus_thread') >= 0) {
    		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    	}
    	}
    	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/crackersnack/get_num_replies.js' + query + '"></' + 'script>');
    })();